#mainFrame {
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    height: 500px;
    width: 400px;
    border: 2px solid black;
    margin: auto;
    font-weight: bold;
}

.button { 
    background-color: limegreen;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding-top: 30%;
}

.display {
    grid-area: 1 / 2 / auto / span 3;
    border: 1px solid white;
    background-color: limegreen;
    text-align: right;
}

.rightColumn {
    background-color: rgba(62, 240, 62, 0.67);
    color: white;
    border: 1px solid white;
    text-align: center;
    padding-top: 30%;
}